<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Access Denied</title>
<link href="webjars/bootstrap/5.1.2/css/bootstrap.min.css" rel="stylesheet">
<script src="webjars/bootstrap/5.1.2/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<div class=" h-100 d-flex justify-content-center align-items-center">
		      <h1>Access Denied</h1>
		</div>
	</div>
</body>
</html>